# Chef
.chef/*.pem
.chef/encrypted_data_bag_secret
chef_guid
.zero-knife.rb
Policyfile.lock.json
Berksfile.lock

# Ruby
.rake_test_cache
.rvmrc
.rbenv-version

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Emacs org-mode
.org-id-locations
*_archive

# SublimeText
*.sublime-workspace

# TextMate
*.tmproj
*.tmproject
tmtags

# Vim
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Jetbrains
.idea

# Lock Files
*.lock

# Kitchen Files
.kitchen
.kitchen/*
.kitchen.local.yml

# Vagrant Files
.vagrant

# Bundler
Gemfile.lock
gems.locked
bin/*
.bundle/*
